*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  font-size: 20px;
  color: #000;
  font-family: arial, sans-sarif;

  text-align: center;
}
.a{fill:#4caf50}.b{fill:#ff3d00}
  .tomato-fill {
    animation-duration: 1s;
  animation-delay: 0s;
  
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-name: changeColor;
  }
 
 
@keyframes changeColor {
	0% {
		fill: red;
	}
	100% {
		fill: white;
	}
}


.red{fill:red;}
.white{fill:#fff;}
.line-draw {
  fill:white;
  stroke:black;
  stroke-width: 10;  
  stroke-dasharray: 9841.783203125;
  stroke-dashoffset: 9841.783203125;
  animation: dash 2s linear;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: both;}

@keyframes dash {to {stroke-dashoffset: 0;}0%{fill: white;}100%{fill: black;}}
.rect-two::after {
  animation-duration: 2s;
animation-delay: 1s;

animation-direction: alternate-reverse;
animation-timing-function: ease;
animation-fill-mode: both;
animation-name: changemyColor;


}

@keyframes changemyColor {
0% {
  fill: black;
}
100% {
  fill: white;
}
}
.clients {
  display:none;
  background-color: white;
  border: solid black 2px;
  width: 60vw;
  padding: 50px;
  margin-top: 10px;
}
.wrapper {
  /* background-image: url(./water.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;*/
  background: rgb(6, 176, 255);
  background: linear-gradient(
    180deg,
    rgba(6, 176, 255, 1) 0%,
    rgba(6, 176, 255, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-bottom: 200px;
}
#pomodoro-info {
  background-color: white;
  border: solid black 2px;
  width: 40vw;
  margin-top: 10px;
  margin-right:20px;
}
#pomodoro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-height: initial;
}
#pomodoro-stop {
  margin-left: 20px;
}
#pomodoro-timer {
  margin-top:40px;
  max-width: 80vw;
}
#pomodoro-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  max-width: 300px;
  margin-top: 20px;
}

#pomodoro-clock-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 5px solid lightgrey;
}

#pomodoro-clock-timer {
  font-size: 3rem;
}

#pomodoro-clock-circle * {
  color: black;
}

#pomodoro-clock-task {
  display: inline-block;
  margin-top: 10px;
  width: 200px;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 30px;
}

#pomodoro-clock-title {
  margin-top: 20px;
  width: 200px;
}

#pomodoro-clock-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 120px;
  font-family: 'Lato', sans-serif;
}

#pomodoro-clock-actions button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left:23px;
}

.hidden {
  display: none;
}

.pomodoro-input {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 10px;
}

.pomodoro-input input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px;
}

.half-tomato {
  
  /*background-image: url("half-tomato.svg");*/
  background-repeat: no-repeat;
 
  background-size: 50px 50px;

}
.half-tomato-bg{background-image: url("half-tomato.svg");
  background-repeat: no-repeat;
 
  background-size: 50px 50px;

}
.full-tomato {
 
 /* background-image: url("full-tomato.svg");*/
  background-repeat: no-repeat;
  
  background-size: 50px 50px;
}
.full-tomato-bg{
  background-image: url("full-tomato.svg");
  background-repeat: no-repeat;
 
  background-size: 50px 50px;
}
.tomato-fill {
  animation-duration: 1s;
animation-delay: 0s;

animation-direction: alternate-reverse;
animation-timing-function: ease;
animation-fill-mode: both;
animation-name: changeColor;


}


@keyframes changeColor {
0% {
  fill: red;
}
100% {
  fill: white;
}
}
.red{fill:red;}
.white{fill:#fff;}
.path {
   
  stroke-dasharray: 9841.783203125;
  stroke-dashoffset: 9841.783203125;
  animation: dash 2s linear;
  animation-duration: 2s;
  animation-delay: 0s;
  
  
  animation-timing-function: ease;
  animation-fill-mode: both;
  
}

@keyframes dash {
 
  to {
    stroke-dashoffset: 0;
  }
  0% {
  fill: white;
}
100% {
  fill: black;
}
}
li {
  list-style: none;
}
.tomatos {
  display: flex;
  flex-direction: row;
}
.progressbar-text {
  color: black;
}

/* Play/Pause BTN animation code-pen https://codepen.io/MarvinVK/pen/grJjzm*/
.o-play-btn {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
}
.o-play-btn__icon {
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
.o-play-btn__icon:before,
.o-play-btn__icon:after {
  content: "";
  position: absolute;
  transition: 0.3s;
  background: #fff;
  height: 100%;
  width: 50%;
  top: 0;
}
.o-play-btn__icon:before {
  left: 0;
}
.o-play-btn__icon:after {
  right: 0;
}
.o-play-btn__mask {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.o-play-btn__mask:before,
.o-play-btn__mask:after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 150%;
  background: rgb(6, 176, 255);
  transition: all 0.3s ease-out;
}
.o-play-btn__mask:before {
  top: -90%;
  transform-origin: 0% 100%;
  transform: rotate(26.5deg);
}
.o-play-btn__mask:after {
  transform-origin: 0% 0%;
  transform: rotate(-26.5deg);
  top: 90%;
}
.o-play-btn--playing .o-play-btn__icon:before {
  transform: translateX(-25%);
}
.o-play-btn--playing .o-play-btn__icon:after {
  transform: translateX(25%);
}
.o-play-btn--playing .o-play-btn__mask:before,
.o-play-btn--playing .o-play-btn__mask:after {
  transform: rotate(0);
}
#pomodoro-info h3{font-family: 'Lato', sans-serif;}

#pomodoro-sessions svg {max-width:70px }

.dlt-button {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  color: #FFF;
  
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
}



 .touch:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
}




.touch {
  transition: ease-in-out .2s;
  line-height: 25px;
  width: 25px;
  padding: 0px;
  text-align: center;
}

 .delete:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1rem;
  background: none;
  color: #FFF;
}



.touch.delete:before {
  width: 100%;
  text-align: center;
  
}

 .inlineIcon.delete {
  background: transparent;
}

.inlineIcon.delete:before {
  line-height: 32px;
  font-size: 32px;
  padding: 4px 0px;
}





.delete {
  background: #c0392b;
}
.delete:before {
  content: "\f1f8";
}

.inlineIcon.delete:before {
  color: #c0392b;
}

.fadeIn{
  
  
  animation: fade-in-scale-down 2s ease-out 1;
  -webkit-animation: fade-in-scale-down 2s ease-in-out 1;
  -moz-animation:    fade-in-scale-down 2s ease-in-out 1;
  -o-animation:      fade-in-scale-down 2s ease-in-out 1;
}

@keyframes fade-in-scale-down{
  0%{
    opacity:0;
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1)
  }
  
  100%{
    opacity:1;
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
  }
}



.box {

  background:white;
}
#slide-in{
  float:right;
 width:0px;
  opacity: 0;
  transition: all .75s ease;
}

#slide-in.show {
  opacity: 1;
  width:25px;

}



