<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/secondheader.ejs %>
  </head>

  <body>
    

    <div class="wrapper">
      <audio id="myAudio" src="notification.mp3" preload="auto">
        
        
        
      </audio>  
      <div id="pomodoro-container">
           
          <div id="pomodoro-clock">
              <div id="pomodoro-timer"></div>
              <div>
                <input type="text" id="pomodoro-clock-task" placeholder="Enter your task..." />
              </div>
             
              <div id="pomodoro-clock-actions">
                <button  class = "o-play-btn">
                    <i class="o-play-btn__icon" id="play-icon"></i>
                    <!-- <i class="fas fa-pause hidden" id="pause-icon"></i> -->
                    <div class="o-play-btn__mask"></div>
                  </button>
                  <button id="pomodoro-stop" class="hidden">
                    <i class="fas fa-stop"></i>
                  </button>
              </div>
              <!-- new -->
              <div id="pomodoro-clock-title">
                
              </div>
              <div id="pomodoro-clock-actions">
                <div class="pomodoro-input">
                  <label>Work Duration</label>
                  <input name="input-work-duration" id="input-work-duration" type="number" />
                </div>
                <div class="pomodoro-input">
                  <label>Break Duration</label>
                  <input name="input-break-duration" id="input-break-duration" type="number" />
                </div>
              </div>
              <div id="pomodoro-info">
                <h3>My Pomodoro Sessions!!!! </h3>
                <ul class = "tomatos" id="pomodoro-sessions">
    
                  <li></li>
    
                 
                </ul>
              </div>
            
          </div>
          </div>
         <!-- <div class='test'><img src='./half-tomato-png.png' alt='test'></div> --> 
        </div>
      </div>
  </body>
</html>
